<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-0 col-md-10 col-md-offset-1">
      <div id="posts" class="transitions-enabled">
      <% @posts.each do |post| %>
      <div class="box panel panel-default">
      <a href= "posts/<%=post.id%>">
        <div class="post-preview">
          <div class="mediawrap">
            <% if (!post.image_url.nil? && !post.ytlink.nil? ) %>
          <% unless post.image_url.nil? %><%= image_tag post.image_url %><br /><% end %>
          <%else%>
          <% unless post.image_url.nil? %><%= image_tag post.image_url %><br /><% end %>
        <% unless post.ytlink.nil? %>  <iframe src="https://www.youtube.com/embed/<%=post.ytlink%>" frameborder="0" ></iframe><% end %>
        <% end %>
        </div>
          <div class="panel-body">
          <h2 class="post-title"><%=  post.title %></h2>
          </div>
        </a>
        <p class="post-meta">Posted by <%=User.find(post.user_id).name%> on <%= post.created_at.strftime("%B, %d, %Y") %></p>
      </div>
    </div>
      <% end %>
      </div>
      <hr>
      <div class="text-center">
        <%= will_paginate @posts,renderer: BootstrapPagination::Rails %>
      </div>
    </div>

  </div>
</div>
</div>
